In [1]:
import torch
import numpy as np
import pandas as pd
import os
import h5py
from exabiome.nn.loader import read_dataset, LazySeqDataset
import argparse
from torch.utils.data import Dataset, DataLoader
import torch.nn as nn
from model import *
from data import *
from fastai.text.all import *

In [2]:
hparams = argparse.Namespace(**{'load': False,
                                'window': 4096,
                                'step': 4096,
                                'classify': True,
                                'tgt_tax_lvl': "phylum",
                                'fwd_only': True})

In [3]:
def get_toy_dl(hparams, batch_size=16):
    path = '/global/homes/a/azaidi/ar122_r202.toy.input.h5'
    chunks = LazySeqDataset(hparams, path=path,
                           keep_open=True)
    ds = taxon_ds(chunks, old_pad_seq)
    return DataLoader(ds, batch_size=batch_size, 
                      shuffle=True), ds

In [4]:
dl,ds = get_toy_dl(hparams, batch_size=128)
batch = next(iter(dl))
len(dl), batch[0].shape, batch[1].shape

(149, torch.Size([128, 1, 4096]), torch.Size([128]))

In [6]:
xs = [ds[x][0] for x in range(len(ds))]

In [7]:
ys = [ds[x][1] for x in range(len(ds))]

In [15]:
xs_df = pd.DataFrame(torch.stack(xs).squeeze(1))
xs_df.shape

(19010, 4096)

In [18]:
xs_df.iloc[:10]

,0,1,2,3,4,5,6,7,8,9,...,4086,4087,4088,4089,4090,4091,4092,4093,4094,4095
0,1.0,1.0,9.0,9.0,10.0,0.0,1.0,10.0,10.0,1.0,...,0.0,1.0,9.0,10.0,1.0,10.0,0.0,0.0,1.0,1.0
1,10.0,1.0,10.0,1.0,1.0,0.0,9.0,0.0,9.0,10.0,...,9.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,9.0
2,10.0,10.0,10.0,10.0,9.0,1.0,10.0,9.0,1.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,9.0,9.0,9.0,9.0,0.0,0.0,9.0,0.0,1.0,...,9.0,10.0,9.0,0.0,0.0,9.0,0.0,1.0,10.0,0.0
4,1.0,0.0,1.0,0.0,10.0,1.0,10.0,10.0,9.0,1.0,...,0.0,0.0,9.0,9.0,10.0,0.0,9.0,0.0,9.0,9.0
5,1.0,0.0,9.0,1.0,10.0,1.0,0.0,10.0,0.0,10.0,...,9.0,9.0,1.0,9.0,9.0,9.0,1.0,9.0,1.0,9.0
6,1.0,1.0,0.0,9.0,1.0,1.0,0.0,10.0,1.0,0.0,...,1.0,0.0,0.0,9.0,10.0,9.0,1.0,10.0,10.0,9.0
7,0.0,10.0,1.0,9.0,9.0,10.0,10.0,0.0,1.0,0.0,...,9.0,1.0,0.0,1.0,10.0,0.0,10.0,1.0,0.0,0.0
8,9.0,0.0,9.0,1.0,0.0,9.0,10.0,1.0,10.0,1.0,...,9.0,9.0,0.0,0.0,1.0,0.0,10.0,9.0,1.0,0.0
9,0.0,0.0,0.0,10.0,0.0,9.0,1.0,9.0,9.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
xs_df.to_csv('toy_x.csv')

In [21]:
ys_df = pd.DataFrame(ys)

In [22]:
ys_df.to_csv('toy_y.csv')